.random-movie-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 500px rgba(0,0,0);
    position: relative;
}

.random-movie-title {
    position: absolute;
    color: white;
    margin-left: 5%;
    text-transform: capitalize;
}

.random-movie-backdrop {
    width: 100%;
    position: relative;
    z-index: -2;
    box-shadow: 0px 8px 15px 0px #341555;
}
    

@media only screen and (min-width: 1126px){
    .random-movie-section {
      height: 70vh
    }
}
  
@media only screen and (max-width: 600px){
    .random-movie-section {
      height: 225px;
    }
}