
.backdrop {
    height: 50%;
    width: auto;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: -2;
    box-shadow: 0px 8px 15px 0px;
}

.backdrop-container {
  display: flex;
  justify-content: flex-end;
  box-shadow: inset 0px 0px 500px rgba(0,0,0);
  position: relative;
}

.poster-holder {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  border: 5px dotted yellow;
  margin: 2%;
}

.selected-movie-poster {
  /* border-radius: 1em; */
  box-shadow: 7px 2px 20px 0px;
  padding: 10px 10px 10px 10px;
  width: 24vw;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-backdrop-container {
  height: 50%;
  width: auto;
}

.movie-title {
  font-size: 4em;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  /* margin-bottom: .5em; */
  color: black;
}

.sidebar {
  /* font-size: .75em; */
  margin-left: 2em;
  width: 12vw;
  height: 52vh;
  position: absolute;
  /* color: white; */
}

.overview {
  /* border: 5px dotted yellow; */
  /* height: 60vh; */
  width: 50vw;
  margin-left: 2em;
}


.return-home {
  width:100%;
  height:80px;
  position:relative;
  background:rgba(255, 255, 255, .27);
  text-transform:uppercase;
  color:white;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}

.border{
  position:absolute;
  background:none;
  transition:all .5s ease-in-out;
}

#first>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:1px solid white;
  border-top:1px solid white;
  width:30px;
  height:30px;
}

#first>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:1px solid white;
  border-bottom:1px solid white;
  width:30px;
  height:30px;
}

#first:hover .border{
  width:102%;
  height:105%;
}

.genres {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}