
  .movie-container {
    display: grid;   
    /* grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(20, 1.5fr); */
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-gap: 5%;
    /* grid-column-gap: 0%; */
    height: 105vh;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2%;
   }

   .random-movie-section {
    width: 100%;
    max-height: 45%
  }
  
  .random-movie-backdrop {
    /* height: 50%; */
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: -2;
    box-shadow: 0px 8px 15px 0px #341555;
  }
  