html {
  background-image: linear-gradient(to left, #1d0e2c 0, #657ced 100%);
}

header {
  color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  height: 5%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.random-movie-section {
  width: 100%;
  max-height: 45%
}

.random-movie-backdrop {
  /* height: 50%; */
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  z-index: -2;
  box-shadow: 0px 8px 15px 0px #341555;
}

