
  .movie-poster {
    border-radius: 1em;
    box-shadow: 7px 2px 20px 0px;
    /* padding: 10px 10px 10px 10px; */
    width: 24vw;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform 450ms;
	  will-change: transform;
  }

.poster-container {
    display: flex;
    flex-direction: column;

}

button {
        position: absolute;
        width: 43px;
        margin-left: 14px;
        margin-bottom: 14px;
}

.movie-poster:hover, .movie-poster:focus {
	cursor: pointer;
	transition: transform 125ms;
	transform: translateY(-10px);
}